ENV=local

SERVER_HOST=localhost
SERVER_PORT=3334
SERVER_TIMEOUT_READ=15s
SERVER_TIMEOUT_WRITE=10s
SERVER_TIMEOUT_IDLE=5s

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=nethub
